<div class="ctnPerfil">
  <div>
    <mat-grid-list cols="2" rowHeight="100">
      <mat-grid-tile colspan="1">
        <div class="ctnTotal ctnInfoPerson">
          <div class="btnInitialsName">
            MR
          </div>
          <div class="ctnNamePerson inlineBlock">
            <p class="txtNamePerson">Mario Romero <span class="cuentaPerson">Cuenta</span></p>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        <div class="ctnTotal ctnEditar">
          <div class="ctnBtnEditar">
            <button mat-flat-button class="btnEditar">
              <mat-icon matSuffix class="iconEdit">edit</mat-icon>Editar Mario
            </button>
          </div>
          <div class="iconsRight ctnIconMore">
            <mat-icon matSuffix class="iconPerfil">more_vert</mat-icon>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="containerTabs">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          Detalles
        </ng-template>
        <div class="ctnDetail">
          <div class="cntLeftProfile inlineBlock">
            <div class="ctnViewUser">
              <p class="nameProfile">
                Mario Romero
              </p>
              <mat-icon matSuffix class="iconEditProfile">edit</mat-icon>
            </div>
          </div>
          <div class="cntCenterProfile inlineBlock">
            <div class="padding20">
              <mat-grid-list cols="1" rowHeight="100" class="bottom20">
                <mat-grid-tile colspan="1" class="cntMessagePermissions noPublicProfile">
                  <div class="ctnTotal ">
                    <p>
                      No public profile
                    </p>
                  </div>
                </mat-grid-tile>
              </mat-grid-list>
              <mat-grid-list cols="1" rowHeight="100" class="bottom20">
                <mat-grid-tile colspan="1" class="cntMessagePermissions noPrivateProfile">
                  <div class="ctnTotal noPrivateNotes">
                    <p>
                      No private notes
                    </p>
                  </div>
                </mat-grid-tile>
              </mat-grid-list>
              <div class="Permisos">
                <mat-list>
                  <p mat-subheader class="titlePermissions">Permisos:</p>
                  <mat-list-item>
                    <h4 mat-line>Administrador</h4>
                    <p mat-line> ¿Es este un usuario Administrador? </p>
                    <div class="status">
                      <section class="example-section">
                        <mat-slide-toggle class="example-margin" [color]="color" [checked]="checked"
                          [disabled]="disabled">
                        </mat-slide-toggle>
                      </section>
                    </div>
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
          </div>
          <div class="cntRightProfile inlineBlock">
            <div class="padding20">
              <mat-grid-list cols="3" class="myGridList" rowHeight="200px">
                <mat-grid-tile colspan="1" *ngFor="let statistic of statistics; index as i;">
                  <div class="ctnTotal ctnStatistics">
                    <p class=" titleStatistics">
                      {{statistic.name}}
                    </p>
                    <div class="numberStatistics">
                      <div class="numberStat">
                        {{statistic.number}}
                      </div>
                    </div>
                    <p class="archivados_txt">
                      {{statistic.status}}
                    </p>
                    <p class="archivados_txt">
                      {{statistic.statusNumber}}
                    </p>
                  </div>
                </mat-grid-tile>
              </mat-grid-list>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Eventos"> Eventos </mat-tab>
      <mat-tab label="Proyectos">
        <ng-template mat-tab-label>
          Proyectos
          <mat-icon class="example-tab-icon">looks_one</mat-icon>
        </ng-template>
        Proyectos
      </mat-tab>
      <mat-tab label="Tareas">
        <ng-template mat-tab-label>
          Tareas
          <mat-icon class="example-tab-icon">looks_two</mat-icon>
        </ng-template>
        Tareas
      </mat-tab>
    </mat-tab-group>
  </div>
</div>