.ctnInfoPerson{

}

.cuentaPerson{
  background: #2DC28F;
  color: #fff;
  padding: 5px;
  border-radius: 8px;
  font-size: 14px;
}

.txtNamePerson{
  font-size: 18px;
  font-weight: bold;
  padding: 0px;
  margin: 0;
  position: relative;
  top: -10px;
}
.ctnPerfil{
  padding: 0 16px;
}

.btnInitialsName{
  display: inline-block;
  background: #72E16A;
  font-size: 30px;
  color: #fff;
  padding: 12px;
  border-radius: 100%;
}

.ctnNamePerson{
  padding-left: 10px;
}

.ctnEditar{
  float: right;
  text-align: right;
}

.iconPerfil{
  position:relative;
  top: 2px;
}

.btnEditar{
  background: #2DC28F;
  color:#fff;
  
}

.iconEdit{
  font-size: 17px;
  position: relative;
  top: 2px;
}

.ctnBtnEditar{
  display: inline-block;

}

.ctnIconMore{
  padding: 4px;
  float: right;
  margin-left: 5px;
}

.mat-tab{
  padding: 0px !important;
}

.mat-tab-label{
  min-width: auto !important;
}

#mat-tab-label-0-0 {
  min-width: auto;
}

.contsProfile{
  height: 100%;
}
.ctnDetail{
  position: relative;
  height: 100vh;
  width: 100%;
  display: block;
}
.nameProfile{
  float: left;
  color: #2DC28F;
}
.iconEditProfile{
  float: right;
  color: #ccc;
  position: relative;
  font-size: 18px;
  top: 13px;
}
.myGridList{
  height: 100%;
}

.cntCenterProfile{
  width: 50%;
  height: 100vh;
  float:left;
}

.cntRightProfile{
  width: 29.5%;
  height: 100vh;
  float: left;
}
.cntLeftProfile{
  background: #FAFAFA;
  border-radius: 3px;
  width: 20%;
  float:left;
  height: 100%;
  border: 1px solid #ccc;
  margin-top: 8px;
}

.cntInfoUser{
  padding: 5px;
}

.noPublicProfile {
  background-color: #FAFAFA;
  color: #ccc;
}

.noPrivateProfile{
  background-color: #FDF4F5;
  color: #ccc;
  
}

.cntMessagePermissions{
  padding: 10px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.padding20{
  padding: 10px;
}

.bottom20{
  margin-bottom: 20px;
}

.ctnViewUser {
  padding: 15px;
  font-size: 14px;
}

.titlePermissions{
  font-size: 20px;
}

.numberStat{
  padding: 20px;
  border: 4px solid #cccccc47;
  border-radius: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.archivados_txt{
  color: #ccc;
}

.ctnStatistics{
  text-align: center;
  width: 70%;
}

::ng-deep .mat-tab-label {
  padding: 0px !important;
  margin-right: 17px !important;
  justify-content: left !important;
  min-width: auto !important;
}