.internalMatGrid{  min-width:100%; font-size: 14px; }
.noActive{
  color: #4DA2D4
}
.active{
  color: #fff 
}
::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #fff !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #fff !important;
} 

::placeholder {
  color: #fff !important;
}
::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: #fff !important;;
}
.form-search {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.input-search {
  width: 100%;
}
