<mat-grid-list cols="2" rowHeight="50px">
  <mat-grid-tile colspan="1">
    <div class='internalMatGrid noActive'>
      <mat-grid-list cols="10" rowHeight="50px">
        <mat-grid-tile colspan="1">Inicio</mat-grid-tile>
        <mat-grid-tile colspan="1">Proyectos</mat-grid-tile>
        <mat-grid-tile colspan="1">Todo</mat-grid-tile>
        <mat-grid-tile colspan="1">Calendario</mat-grid-tile>
        <mat-grid-tile colspan="1">Estados</mat-grid-tile>
        <mat-grid-tile colspan="1" class="active">Personas</mat-grid-tile>
        <mat-grid-tile colspan="2"></mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    <div class='internalMatGrid'>
      <mat-grid-list cols="8">
        <mat-grid-tile colspan="2"></mat-grid-tile>
        <mat-grid-tile colspan="3">
          <form class="form-search">
            <mat-form-field class="input-search">
              <mat-label style="color: #fff !important">Buscar</mat-label>
              <span matPrefix>
                <mat-icon matSuffix>search</mat-icon>
              </span>
              <input type="tel" matInput placeholder="Buscar">
            </mat-form-field>
          </form>
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
          <div class='internalMatGrid noActive'>
            <mat-grid-list cols="8">
              <mat-grid-tile colspan="2">
                <mat-icon matSuffix>add</mat-icon>
              </mat-grid-tile>
              <mat-grid-tile colspan="2">
                <mat-icon matSuffix>folder</mat-icon>
              </mat-grid-tile>
              <mat-grid-tile colspan="2">
                <mat-icon matSuffix class="active">notifications</mat-icon>
              </mat-grid-tile>
              <mat-grid-tile colspan="2">
                <mat-icon matSuffix>view_comfy</mat-icon>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-grid-tile>
</mat-grid-list>