body{
  font-size: 14px !important;
}

.menuTop{
  background-color: #105FA7;
  width: 100%;
}

.toolbarColor{
  background-color:#1779C2;
}

.whiteLetter{
  color: #fff !important;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #fff;
}

.childGrid{
  width: 100%;
  height: 100%;
}

/*** Mat tab label color ***/
::ng-deep .mat-ink-bar {
  background-color: var(--primary-color,#00CD5A) !important;
}


