<div class="container">
  <div class="whiteLetter">
    <div class="menuTop">
      <app-menu-top-component></app-menu-top-component>
    </div>
    <mat-toolbar class="toolbarColor whiteLetter">
      <span>STP Network</span>
    </mat-toolbar>

  </div>
  <router-outlet></router-outlet>
</div>