.inlineBlock{
  display: inline-block;
}

.table_personas{
  margin-top: 30px;
  padding: 0 16px;
}

.right20{
  margin-right: 20px;
}

.mat-icon {
  font-size: 20px;
}

.iconToggle {
  line-height: 10px !important;
  padding: 0px !important;
}

.mat-tab-label {
  align-items: left !important;
  justify-content: left !important;
}

.cnt_filtros{
  text-align: right;
}

.orderBy{
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 11px;
    margin-right: 10px;
    font-size: 15px;
}

.selectNombre{
  border: 0px;
  font-size: 14px;
}

::ng-deep .mat-tab-label {
  padding: 0px !important;
  margin-left: 17px !important;
  justify-content: left !important;
  min-width: auto !important;
}