<mat-tab-group class="tab_menu" [selectedIndex]="1">
  <mat-tab label="Empresas" class="txt_left mat-tab-label"> Empresas </mat-tab>
  <mat-tab label="Personas" class="txt_left">
    <div class="table_personas">
      <mat-grid-list cols="2" rowHeight="50px">
        <mat-grid-tile colspan="1">
          <div class="ctnTotal">
            <h3>
              Personas
            </h3>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
          <div class="ctnTotal cnt_filtros">
            <div class="inlineBlock right20">
              <div class="inlineBlock orderBy">

                <span class="inlineBlock">
                  <b>
                    Ordenar Por:
                  </b>
                </span>
                <select class="selectNombre inlineBlock">
                  <option> Nombre</option>
                </select>

              </div>
              <div class="iconsRight">
                <mat-icon matSuffix>vertical_align_top</mat-icon>
              </div>
            </div>
            <div class="inlineBlock icons_group">
              <div class="iconsRight">
                <mat-icon matSuffix>format_align_justify</mat-icon>
              </div>
              <div class="iconsRight">
                <mat-icon matSuffix>drag_handle</mat-icon>
              </div>
              <div class="iconsRight">
                <mat-icon matSuffix>view_comfy</mat-icon>
              </div>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <app-table [users]="this.ngRedux.getState().user.users"></app-table>
    </div>
  </mat-tab>
  <mat-tab label="Historial de acceso" class="txt_left"> Historial de acceso </mat-tab>
</mat-tab-group>