/* You can add global styles to this file, and also import other style files */

.top20
  margin-top:20px

.ctnTotal
  width: 100%

.inlineBlock
  display: inline-block

.iconsRight
  border: 1px #ccc solid
  padding: 6px
  text-align: center
  border-radius: 4px
  display: inline-block



