table {
  width: 100%;
}

.theadBlue {
  background: #0F5A95;
}

th.mat-header-cell {
  color: #fff;
}

.txtNameColor{
  color: #71AAD7
}

.iconEmail{
  font-size: 15px;
  position: relative;
  top: 4px;
}

.cntIconEmail{
  text-align: center;
  background: #E3A32E;
  border-radius: 100%;
  color:#fff;
}

.personIcon{
  font-size: 20px;
  color: #2FC55D;
}

.iconEmailField {
  color: #CCC;
  font-size: 17px;
  text-align: center;
  position: relative;
  top: 3px;
}