<table *ngIf="users" mat-table [dataSource]="users" class="mat-elevation-z8 top20">
  <!-- Columns -->

  <ng-container matColumnDef="iconUser">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element">
      <a [routerLink]="['/perfil', element.id]">
        <mat-icon matSuffix class="personIcon">person</mat-icon>
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="iconProfile">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element">
      <button mat-mini-fab color="{{coloresSelected[element.id] || coloresSelected[element.id] = colorRandom()}}">
        AS
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="iconEmail">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element">
      <div class="cntIconEmail">
        <mat-icon matSuffix class="iconEmail">email</mat-icon>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
    <td mat-cell *matCellDef="let element">
      <span class="txtNameColor">
        {{element.first_name}}
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> APPELLIDO</th>
    <td mat-cell *matCellDef="let element" class="txtNameColor"> {{element.last_name}} </td>
  </ng-container>

  <ng-container matColumnDef="website">
    <th mat-header-cell *matHeaderCellDef> WEBSITE </th>
    <td mat-cell *matCellDef="let element">
      <a href="{{element.website}}" target="_blank">
        Web Site URL
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="dob">
    <th mat-header-cell *matHeaderCellDef> DOB </th>
    <td mat-cell *matCellDef="let element"> {{element.dob}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> EMAIL </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon matSuffix class="iconEmailField">email</mat-icon> {{element.email}}
    </td>
  </ng-container>

  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> ADDRESS </th>
    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef> PHONE </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon matSuffix>phone</mat-icon> {{element.phone}}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="theadBlue"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
  </tr>
</table>

<div *ngIf="!users">
  No hay usuarios disponibles
</div>